:root{
    --nav-color:black;
    --font-gray:gray;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.header-background{
    background: var(--nav-color);
    width: 100%;
    height: 120px;
    color: #fff;
}
.header-background a{
    text-decoration: none;
    color: #fff;
    cur
    
}

.navbar-sprite{
    margin: 0 !important;
    position: relative;
    top: 0;
    left: 0;
    font-size: 15;
    display: block;
    font-weight: bold;
    /* min-width: 1000px; */
}

.nav-belt{
    position: relative;
    width: 100%;
    font-size: 15px;
}

.nav-left{
    position: relative;
    float: left;
    width: auto;
    padding: 5px;
    margin-top: 10px;
}

.nav-logo-img{
    float: left;
    height: 30px;
    display: block;
    width: 120px;
    background: url(logo.svg) no-repeat 50%;
    background-size: contain;
}

.nav-right{
    height: 60px;
    position: relative;
    float: right;
    width: auto;
}

.nav-tools{
    padding: 3px 0 0 0 ;
    float: left;
    margin-top: 2px;
}
.nav-line-height{
    line-height: 17px;
}

.nav-language{
    padding-right:10px ;
    height: 50px;
    top: 10px;
    margin-right: 15px;
    position: relative;
    float: left;
 
}
.nav-line1{
    color: var(--font-gray);
    font-size: 13px;
    height: 17px;
}


.nav-signin{
    padding-left:10px ;
    height: 50px;
    top: 10px;
    margin-right: 15px;
    position: relative;
    float: left;
  
    
}

.nav-order{
    padding-left:10px ;
    height: 50px;
    top: 10px;
    margin-right: 15px;
    position: relative;
    float: left;
}

.nav-cart{
    padding-left:10px ;
    height: 50px;
    top: 10px;
    margin-right: 15px;
    position: relative;
    float: left;
}
.nav-line2-cart{
    float: left;
    clear: both;
    white-space: 9px;
}

.nav-cart-icon{
    display: block;
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 11px;
    background-position: -10px -340px;
    width: 38px;
    height: 26px;
    background-image: url(amazon.png);
    background-repeat: repeat-x;
}