:root{
    --nav-color:black;
    --font-gray:gray;
    --orange: #febd69;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.header-background{
    background: var(--nav-color);
    width: 100%;
    height: 120px;
    color: #fff;
}
.header-background a{
    text-decoration: none;
    color: #fff;
    
}

.navbar-sprite{
    margin: 0 !important;
    position: relative;
    top: 0;
    left: 0;
    font-size: 15;
    display: block;
    font-weight: bold;
    /* min-width: 1000px; */
}

.nav-belt{
    position: relative;
    width: 100%;
    font-size: 15px;
}

.nav-left{
    position: relative;
    float: left;
    width: auto;
    /* padding: 5px; */
    padding-left: 10px;
    margin-top: 10px;
}

.nav-logo-img{
    float: left;
    height: 30px;
    display: block;
    width: 120px;
    margin-top: 12px;
    margin-left: 10px;
    background: url('logo3.png') no-repeat;
    background-size: contain;
}

.nav-right{
    height: 60px;
    position: relative;
    float: right;
    width: auto;
    /* padding: 5px; */
    padding-right: 10px;
    margin-top: 10px;
}

.nav-tools{
    padding: 3px 0 0 0 ;
    float: left;
    margin-top: -6px;
}
.nav-line-height{
    line-height: 17px;
}

.nav-language{
    padding-right:10px ;
    height: 50px;
    top: 10px;
    margin-right: 15px;
    position: relative;
    float: left;
 
}
.nav-line1{
    color: var(--font-gray);
    font-size: 13px;
    height: 17px;
}
.nav-line2 i{
    margin-left: 2px;
}
.nav-login-navbar{
    position: relative;
    float: left;   
    cursor: pointer;
    top: 10px;
    margin-right: 15px; 
    padding-left:10px ;
    height: 50px;
}
.login_drop{
    position: absolute;
    display: none;
    transform: translate(0,2%);
    z-index: 3;
}

.header_dropdown_login{
    display: grid;
    /* height: 100%; */
    grid-template-rows: repeat(4,1fr);
    background-color: white;
    
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    line-height: 26px;
    
    
}
.header_dropdown_login a:hover{
    background-color: var(--orange);
}
.header_dropdown_login p{
    color:black;
    padding:5px 10px;
}

.header_dropdown_login2{
    display: grid;
    background-color: white;    
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    line-height: 26px;
    padding:21px 12px;
}
.login-button{
    display: none;
    z-index: 4;
    position: absolute;
}
.header_dropdown_login2 .login-button-orange{
    padding:0 20px;


}
.header_dropdown_login2 button{
    background-color: var(--orange);
    padding: 8px 24px;
    outline-color: none;
    border: none;
    cursor: pointer;
    border-radius: 1px;
    transition: 0.25s;
}
.header_dropdown_login2 button:hover{
    background-color: black;
    color: white;
}
.header_dropdown_login_name{
    font-size:10px ;
    padding: 0;
    margin-left: -10;
}


.nav-order{
    padding-left:10px ;
    height: 50px;
    top: 10px;
    margin-right: 15px;
    position: relative;
    float: left;
}

.nav-cart{
    padding-left:10px ;
    height: 50px;
    top: 10px;
    margin-right: 15px;
    position: relative;
    float: left;
}
.nav-line2-cart{
    margin-left: 37px;
    clear: both;
    white-space: 9px;
    display: inline-block;
}

.nav-cart-icon{
    display: block;
    overflow: hidden;
    position: absolute;
    left: 8px;
    top: 9px;
    background-position: -10px -340px;
    width: 38px;
    height: 26px;
    background-image: url(amazon.png);
    background-repeat: repeat-x;
}

.nav-order-count{
    color: #f08804;
    top: 5px;
    left: 21px;
    width: 19px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    position: absolute;
    font-size: 20px;
}

.nav-search-scope{
    height: 40px;
    top: 5px;
    background-color: #f3f3f3;
    background-image: none;
    border-left: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    position: relative;
    padding-left: 5px;
    overflow: hidden;
    border: 1px solid #cdcdcd;
    border-radius: 4px 0 0 4px;
    color: #555;
}


.nav-search-button{
    height: 40px;
    top: 5px;
    background-color: #febd69;
    background-image: none;
    border-left: 1px solid grey;
    width: 45px;
    position: relative;
    border-radius:0 4px 4px 0;
    overflow: hidden;
    color: black;
}
.nav-search-button i{
    font-size: 25px;
    left: 12px;
    top: 9px;
    position: absolute;
    text-align: center;
    border: none;
}
.button-search-input{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    outline:0;
    background: none;
    text-indent: -10000px;
    border: none;
}
.nav-search-label{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 33px;
    margin-right: 21px;
    margin-left: 5px;
}
.nav-search-scope i{
    position: absolute;
    top: 10px;
    right: 8px;
}

.nav-fill{
    height: 63px;
    padding-top: 5px;
    position: relative;
    width: auto;
    white-space: nowrap;
    color: black;
    overflow: hidden;
    
}
.nav-padding{
    padding: 5px 0;
}
.nav-search-field{
    position: relative;
    height: 40px;
    top: 5px;
    width: auto;
}
.text-search-input{
    position: absolute;
    height: 38px;
    width: 100%;
    display: inline-block;
    line-height: 35px;
    padding: 7px 10px 10px 0;
    margin-top: 6px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}



/* main-nav */

.main-nav{
    height: 40px;
    padding-top: 0;
    width: 100%;
    position: relative;
}

.nav-global-location{
    padding: 6px 0 0 10px;
    text-decoration: none;
    overflow: hidden;
}

.nav-global-location a{
   
    position: relative;
    
}

.nav-global-location i{
    top: 9px;
    position: absolute;
    font-size: 22px;
    left: 2px;
}

.nav-location-text{
    margin-left: 23px;
    margin-top: -10px;
}

.nav-location-line1{
    color: #fff;
    font-size: 13px;
}

.nav-location-line2{
    color: #fff;
    font-size: 15px;
}

.nav-container{
    position: static;
    float: left;
    width: auto;
    margin-left: 15px;
    font-size: 13px;
    padding: 12px;
    color: #ccc;
    display: grid;
    grid-template-columns: repeat(11,auto);
    grid-gap:16px ;
    /* grid-auto-columns: minmax(100px, auto); */
}
.nav-a{
    margin-top: 5px;
    text-decoration: none;
    float: left;
}

.box{
    width: 400px;
    padding: 50px;
    position: relative;
    margin-top: 80px;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--orange);
    text-align:center;
    border-radius:35px;
    
}
.login-text-container{
    transform: translate(-12.7%, -63%);
    position: absolute;
    width: 100%;
    height: 80px;
    border-radius: 35px 35px 0 0;
    background-color: black;

}
.box h1 {
    font-weight: 300;
    font-size: 23px;
    color: white;
    padding-bottom: 20px;
    margin-top: 30px;
}


.box input[type="text"], .box input[type="password"]{

    background: none;
    font-size: 15px;
    font-weight: 300;
    display:block;
    margin: 40px auto;
    text-align: left;
    border:none;
    border-bottom: 3px solid black;
    padding: 14px 10px;
    width: 200px;
    color: black;
    
    transition: 0.25s;
}
.box input[type="text"]:focus, .box input[type="password"]:focus{
    width: 280px;
    border-color: white;
}

.box input[type="submit"]{
    background:none;
    display: flex;
    width: 60%;
    margin: 20px auto;
    text-align: center;
    border:none;
    padding: 14px 40px;
    outline: none;
    color:white;
    text-transform: uppercase;
    border-radius:30px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    background-color: black;
}
.box input[type="submit"]:hover{
    width: 80%;
}
.forgot-password{
    text-align: right;
    
}
.forgot-password a{
    color: black;
    text-decoration: none;
}


.signup-text-container{
    text-align: center;
}
.signup-text-container a{
    color: black;
    text-decoration: none;
}

