<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online shop practice Shop</title>
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
</head>
<body>
    <header class="header-background">
        <div class="navbar-sprite">
            <div class="nav-belt">
                <div class="nav-left">
                    <div class="nav-logo">
                        <a href="">
                            <div class="nav-logo-img"> </div>
                        </a>
                    </div>
                </div> <!-- end nav-left-->
                <div class="nav-right">
                    <div class="nav-tools">
                        <a href="" class="nav-language nav-line-height">
                            <div class="nav-line1">
                                EN
                            </div>
                            <div class="nav-line2">
                                <i class="fas fa-globe"></i>
                            </div>
                        </a>
                        <a href="" class="nav-signin nav-line-height">
                            <div class="nav-line1 ">Hello,Sign in</div>
                            <div class="nav-line2">My Account & Lists</div>
                        </a>
                        <a href="" class="nav-order nav-line-height">
                            <div class="nav-line1 nav-line1">Returns</div>
                            <div class="nav-line2">& Orders</div>
                        </a>
                        <a href="" class="nav-cart">
                            <div class="nav-line1" aria-hidden="true"></div>
                            <div class="nav-line2-cart" aria-hidden="true">Cart</div>
                            <div class="nav-cart-icon"></div>
                            <div class="nav-order-count">0</div>
                        </a>
                    </div>
                </div> <!-- end nav-right-->
                <div class="nav-hill">
                    <div class="nav-search">
                        <form action="" class="navbar-searchbar">
                            <div class="nav-left">
                                <div class="nav-search-scope">
                                    <div class="nav-search-label">All</div>
                                    <i class="fas fa-caret-down"></i>
                                </div>
                            </div>
                            <div class="nav-right">
                                <div class="nav-search-button">
                                    
                                    <input type="submit" class="button-search-input">
                                </div>
                            </div>
                            <div class="nav-fill">
                                <div class="nav-search-field">
                                    <input type="text" class="text-search-input">
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- end nav-hill-->
            </div>
        </div>
    </header>
    <nav>
        <ul>
            <li>Today's Deal</li>
            <li>Customer Service</li>
            <li>Registry</li>
            <li>Gift Cards</li>
            <li>Sell</li>
        </ul>
    </nav>
