<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online shop practice Shop</title>
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
</head>
<body>
    <header class="header-background">
        <div class="navbar-sprite">
            <div class="nav-belt">
                <div class="nav-left">
                    <div class="nav-logo">
                        <a href="">
                            <div class="nav-logo-img"> </div>
                        </a>
                    </div>
                </div> <!-- end nav-left-->
                <div class="nav-right">
                    <div class="nav-tools">
                        <a href="" class="nav-language">
                            <div class="nav-language-line1">
                                EN
                            </div>
                            <div class="nav-language-line2">
                                <i class="fas fa-globe"></i>
                            </div>
                        </a>
                        <a href="" class="nav-signin">
                            <div class="nav-signin-line1"></div>
                            <div class="nav-signin-line2"></div>
                        </a>
                    </div>
                </div> <!-- end nav-right-->
            </div>
        </div>
    </header>
    <nav>
        <ul>
            <li>Today's Deal</li>
            <li>Customer Service</li>
            <li>Registry</li>
            <li>Gift Cards</li>
            <li>Sell</li>
        </ul>
    </nav>
